.nr10-left-side-container {
    position: absolute;
    width: 344px;
    height: 61px;
  }
  .nr10-middle-container {
    position: absolute;
    width: 700px;
    height: 61px;
    left: 365px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nr10-name-container {
    position: absolute;
    height: 61px;
    width: 165px;
    left: 1080px;
  }
  .nr10-right-side-container {
    position: absolute;
    width: 192px;
    height: 61px;
    right: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .nr10-FB-icon-class {
    position: absolute;
    top: 10px;
    left: 14px;
  }
  .nr10-input-container {
    position: absolute;
    margin-left: 62px;
    margin-top: 10px;
  }
  .nr10-input-field {
    width: 281px;
    height: 40px;
    background-color: #f1f2f5;
    border-radius: 100px;
    border: 0;
    padding: 11px 11px 11px 37px;
  }
  nr10-input-field::placeholder {
    font-size: 15px;
    color: 66676b;
  }
  .nr10-input-field:focus {
    outline: none;
    background-color: #e3e5e9;
  }
  .nr10-search-icon-class {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  
  .nr10-blue-dot {
    position: absolute;
    background-color: #0572ef;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 16px;
    margin-right: 7px;
  }
  .nr10-name {
    position: absolute;
    text-align: center;
    left: 36px;
    top: 21px;
    color: #080808;
    font-family: Helvetica;
    font-size: 18px;
  }
  .nr10-round-container {
    background-color: #e5e6eb;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nr10-red-dot {
    position: absolute;
    background-color: #de3f4f;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 8px;
    left: 18px;
    font-size: 13px;
    font-family: Helvetica;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nr10-red-dot-right-side {
    position: absolute;
    background-color: #de3f4f;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 4px;
    left: 25px;
    font-size: 13px;
    font-family: Helvetica;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nr10-relative {
    position: relative;
    height: 61px;
    display: flex;
    align-items: center;
  }