body {
    background: lightgreen;
}

td {
    border: 1px solid black;
    width: 60px;
    height: 60px;
}
img {
    width: 250px;
}
img:hover {
    border: 5px solid black;
}
.red {
    width: 0%;
    height: 100%;
    background: red;
}
.toRight:hover div {
    width: 100%;
    animation: widthEnlarge 3s;
    background: pink;
}
.toLeft {
    position: relative;
}
.toLeft:hover div {
    width: 100%;
    animation: widthEnlarge 3s;
    position: absolute;
    top: 0;
    right: 0;
    background: yellow;
}
.toDown {
    position: relative;
}
.toDown:hover div {
    height: 100%;
    animation: heightEnlarge 3s;
    position: absolute;
    top: 0;
    right: 0;
    background: green;
}
.toUp {
    position: relative;
}
.toUp:hover div {
    height: 100%;
    animation: heightEnlarge 3s;
    position: absolute;
    bottom: 0;
    left: 0;
    background: brown;
}
.toMiddle {
    position: relative;
}
.toMiddle:hover div {
    width: 50%;
    height: 100%;
    animation: widthEnlargeMiddle 3s;
    position: absolute;
    top: 0;
    right: 0;
    background: grey;
}
.toOut {
    position: relative;
}
.toOut:hover div {
    width: 50%;
    height: 100%;
    animation: widthEnlargeMiddle 3s;
    position: absolute;
    top: 0;
    right: 50%;
    background: purple;
}
@keyframes widthEnlarge {
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}
@keyframes heightEnlarge {
    0% {
        height:0;
    }
    100% {
        height:100%;
    }
}
@keyframes widthEnlargeMiddle {
    0% {
        width:0;
    }
    50% {
        width:50%;
    }
}
#field-email {
    background: #272713;
    color: #ffffff;
    padding: 10px;
    border: 4px double #ffffff;
    border-radius: 10px;
}
#field-email:focus {
    outline: none;
    background: #234543;
}
.myDiv0 {
    width: 100%;
    height: 100%;
    background: pink;
}
.myDiv1 {
    width: 100%;
    height: 100%;
    background: green;
}
.myDiv2 {
    width: 100%;
    height: 100%;
    background:brown;
}
.myDiv3 {
    width: 100%;
    height: 100%;
    background: yellow;
}
.myDiv4 {
    width: 100%;
    height: 100%;
    background: purple;
}
.myDiv5 {
    width: 100%;
    height: 100%;
    background: grey;
}
.larger {
    height: 120px;
}
.left {
    left:0;
}
.leftTwo {
    left:50%;
}